.shipContainer{
    margin: auto;
}

.shipImages {
    padding-top: 10px;
    padding-bottom: 10px;
}

.title {
    background-color: #bcbddc;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px 5px 10px 5px;
}
