.mapContainer {
    margin: auto;
}

.mapButtons {
 background-color: #bcbddc;
 padding: 10px 5px 10px 5px;
 border-radius: 5px;
 margin-bottom: 10px;
}

.northAmericaMap {
    position: relative;
    margin: 0 auto;
   
}

#selectCountries {
    width: 100px;
}